{% extends 'front.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<style>
.btn-primary {
 
    color: #fff;
    background-color: transparent;
    border-color: transparent;
    position: relative;
left: 10px;
     }
</style>
  <div class="row">
  <div  style=" position:relative;left: 500px;display: flex;align-items: center;justify-content: center;margin-top: -300px;margin-left:-100px; padding:15px;  background-color:#21202078;  ">
<div class="card-body">
              <h5 class=""  style= "color:BLACK ;display: flex; align-items: center; justify-content: center; padding-bottom:30px; font-weight: 900">Add Commentaire</h5>
   

    {{ include('commentaire/_form.html.twig') }}

    <a href="{{ path('app_commentaire_index') }}">back to list</a>
     </div>
    </div>
    </div>
{% endblock %}